body * {
  font-size: 24px;
  font-family: arial;
  box-sizing: border-box;
}
body {
  width: 100vw;
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
}
form {
  width: 50%;
  margin: 0 auto;
}
form > * {
  display: block;
  float: left;
  min-width: 170px;
  width: 48%;
  margin: 1%;
}
form::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background-color: rgb(170, 168, 168);
  color: white;
  border: 2px solid black;
  padding: 5px 30px;
  transition: 0.3s ease;
}
button:hover {
  background-color: rgb(112, 107, 153);
  color: black;
}
button:nth-of-type(odd):hover {
  background-color: rgb(177, 110, 110);
}
h1,
h2 {
  padding: 0 30px;
}
.showAdive,
.showOptions {
  margin: 10px;
}
